.DS_Store
Travel-Guide.zip
Travel/node_modules/
Travel/dist/
Travel/static/mock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
